@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


#background {
  background-color: #5EB3E8;
}

#center {
  max-width: 960px;
  margin: 0 auto;
  border: 10px solid #0072BB;
  border-radius: 50px;
  background-color: #E4CC37;
  font-family: 'Press Start 2P';
}

.header {
  text-align: center;
  border: 10px solid #0072BB;
  border-radius: 50px;
  width: 100%;
  margin-left: -10px;
  margin-top: -10px;
  background-color: #E18335;
}

.header i {
  font-size: 50px;
}
.intro {
  padding-top: 25px;
  text-align: center;
}
.uvscpu {
  text-align: center;
}

span {
  font-size: 25px;
}

#user {
  font-size: 50px;
}
#cpu {
  font-size: 50px;
}